* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.top-section {
  height: auto;
  width: 100%;
  background-color: #1f2937;
  display: flex;
  color: white;
  flex-wrap: wrap;
  padding: 25px 200px;
}

.links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-logo-text {
  margin-left: -50px;

  height: 25%;
}

.links > ul {
  list-style: none;
}
.links > ul li {
  display: inline;
  margin: 0px 10px;
}
a:hover {
  cursor: pointer;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}
.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}
.hero-section {
  display: flex;
  justify-content: space-between;
}

.intro {
  width: 50%;
}
.sign-button {
  background-color: #3882f6;
  border-radius: 5px;
  padding: 5px 10px;
  color: #e5e7eb;
  font-size: 12px;
  font-weight: bold;
  border: #3882f6 1px solid;
}

.sign-button:hover {
  background-color: #e5e7eb;
  color: #3882f6;
  cursor: pointer;
}

.example-box {
  width: 120px;
}
.example-image {
  width: 100%;
  height: 120px;
  border: #3882f6 2px solid;
  border-radius: 10px;
}
.example-image:hover {
  background-color: #3882f6;
}
.main-article {
  display: flex;
  padding: 25px 200px;
  flex-direction: column;
}
.main-article-title {
  text-align: center;
}
.example-text {
  text-align: center;
  font-size: 18px;
  color: grey;
  margin-top: 10px;
}

.example {
  display: flex;
  justify-content: space-around;
}

.quote {
  text-align: center;
  background-color: #e5e7eb;
  padding: 25px 200px;
}

.sign-button {
  background-color: #3882f6;
  border-radius: 5px;
  padding: 5px 10px;
  color: #e5e7eb;
  font-size: 12px;
  font-weight: bold;
  border: #3882f6 1px solid;
}

.quote-text {
  font-weight: lighter;
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
}

.quote-signature {
  font-weight: bold;
  text-align: end;
}

footer {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
  padding: 30px;
}

.call-section {
  padding: 100px 200px;
}
.call-section-box {
  background-color: #3882f6;
  padding: 30px 150px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.call-section-title {
  font-size: 18px;
  color: #f9faf8;
}

.call-section-text {
  font-size: 12px;
  color: #e5e7eb;
}

.call-section-button {
  background-color: #3882f6;
  border-radius: 5px;
  padding: 5px 10px;
  color: #e5e7eb;
  font-size: 12px;
  font-weight: bold;
  border: #e5e7eb 1px solid;
  display: flex;
  align-items: center;
  height: 25px;
  align-self: center;
}

.call-section-button:hover {
  background-color: #e5e7eb;
  color: #3882f6;
  border: #e5e7eb;
  cursor: pointer;
}
