body{
    display: flex;
    min-width: 1024px;;
}

.top-section{
    height: auto;
    width: 100%;
    background-color: #1f2937;
    display: flex;
    color: white;;
    flex-wrap:wrap;
    padding: 20px;
}

.links{
    width: 100%;   
   display: flex;
   align-items: center;
   justify-content: space-between;
    
}

.icon-logo-text{
    margin:-30px;
    
    height: 25%;
}

.links>ul{
    list-style: none;
   
}
.links>ul li{
    display:inline;
    margin: 0px 10px;
}
a:hover{
    cursor: pointer;
}

.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.hero-secondary-text{
    font-size: 18px;
    color:#E5E7EB
}
.hero-section{
    display: flex;
    justify-content: space-between;
}

.intro{
    width: 50%;
}